  /* BASE (Initital Setup)
=====================================
  #BODY RESET
  #BASE TYPOGRAPHY
    #BODY
    #HEADINGS
    #PARAGRAPHS 
    #LINKS
    #LISTS
===================================== */

<link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Permanent+Marker|Poiret+One|Quicksand|Unica+One&display=swap" rel="stylesheet">

/* #BODY RESET */

* { box-sizing: border-box; }

body {
    margin:0;
    padding:2em;
    background: #70CBCE;
}

a {
    text-decoration: none;
    color: #365880;
}

/* HEADER */
header {
    background: #B88D79;
    padding: 1em 2em;
}

header a {
    color: #BEFFBE;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* SITE ID */
.site-id h1{
    margin: 0;
    font-family: 'Poiret One', cursive;
}

/* NAV */
nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;
}

nav li {
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 1em;
    font-family: 'Poiret One', cursive;
}

/* FOOTER */
footer {
    border-top: 1px solid #365880;
    max-width: 1000px;
    margin: 0 auto;
}

footer nav ul {
    justify-content: center;
}

/* MAIN */
main {
    padding: 0 0 3em 0;
    min-height: 80vh;
}

/* SECTIONS */
section {
    padding: 3em 1em;
}

/* HERO */
.hero {
    display: grid;
    align-content: center;
    text-align: center;
    background: #68AEB8;
    min-height: 50vh;
    color: #365880;
}

.hero p{
    max-width: 600px;
    margin: 1em auto;
}

/* LISTS */
.lists {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    font-family: 'Unica One', cursive;
}
/* #HEADINGS */
h1 {
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (max-width:767px) {
    .lists {
        grid-template-columns: 1fr 1fr;
    }
}

h2 {
    margin: .5em 0;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

/* #PARAGRAPHS */
        p {
            margin: 0 0 .5em 0;
            font-family: 'Quicksand', sans-serif;
        }

        li{
            text-align: left;
        }