  /* BASE (Initital Setup)
=====================================
  #BODY RESET
  #BASE TYPOGRAPHY
    #BODY
    #HEADINGS
    #PARAGRAPHS 
    #LINKS
    #LISTS
===================================== */


/* #BODY RESET */

* { box-sizing: border-box; }

body {
    margin:0;
    padding:0;
    background: #AAF0D1;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: #365880;
}

/* HEADER */
header {
    background: #B88D79;
    padding: 1em 2em;
    font-family: 'Unica One', cursive;
}

header a {
    color: #BEFFBE;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* SITE ID */
.site-id h1{
    margin: 0;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
}

/* NAV */
nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;
}

nav li {
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 1em;
    font-family: 'Quicksand', sans-serif;
}

/* FOOTER */
footer {
    border-top: 1px solid #365880;
    max-width: 1000px;
    margin: 0 auto;
}

footer nav ul {
    justify-content: center;
}

/* MAIN */
main {
    padding: 0 0 3em 0;
    min-height: 80vh;
}

/* SECTIONS */
section {
    padding: 3em 1em;
}

/* BLOG Archives */
.blog-archives {
    max-width: 600px;
    margin: 0 auto;
    color: #7d4817;
}

.blog-entry {
    border: 1px solid #3F000E;
    padding: 2em;
    margin: 2em 0;
}

.date {
    opacity: .5;
    font-size: .8em;
    color: #7B3F00;
}

/* HERO */
.hero {
    display: grid;
    align-content: center;
    text-align: center;
    background: #46CB9B;
    min-height: 50vh;
    color: #D5F8E8;
}

.page-home .hero{
    position: relative;
    background-image: url("../blob_sign_home.png");
}

.page-home .hero::after{
    background-image: url("../images/heeroo7.jpg");
    background-position: center top;
    background-size: cover;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;
}

.hero p{
    max-width: 600px;
    margin: 1em auto;
}

.page-sub .hero {
    min-height: 30vh;
    background: #BEFFBE;
    color: #B88D79;
}

.page-gallery .hero{
    background-image: url(../blob_sign_gallery.png)
}

.page-forms .hero{
    background-image: url(../blob_sign_forms.png)
}

.page-about .hero{
    background-image: url(../blob_sign_about.png)
}

.page-blog .hero{
    background-image: url(../blob_sign_blog.png)
}

/* LISTS */
.lists {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    color: #5F1A33;
}
/* #HEADINGS */
h1 {
    font-size: 3em;
    font-family: 'Notable', sans-serif;
    color: #7d4817;
}

@media (max-width:767px) {
    .lists {
        grid-template-columns: 1fr 1fr;
    }
}

h2 {
    margin: .5em 0;
    font-size: 1em;
    font-family: 'Poiret One', cursive;
    color: #8A5117;
}

/* #PARAGRAPHS */
        p {
            margin: 0 0 .5em 0;
            color: #7B3F00;
        }

        li{
            text-align: left;
            color: #3F000E;
        }
.gallery {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}